<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relativelayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <textview

                android:id="@+id/txt1"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:textcolor="#000"
                android:textstyle="bold"
                android:text="text1"/>
            <textview
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:textcolor="#000"
                android:textstyle="bold"
                android:text="text2"
                android:text_below="@=id/txt1"/>

        </Relative>